.root {
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#serverIpTxt{
	-fx-background-radius: 40px;
}


#portTxt{
	-fx-background-radius: 40px;
}


#startBtn {
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}

#startBtn:hover {
	-fx-background-color: #808080;
}

#exitBtn {
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}

#exitBtn:hover {
	-fx-background-color: #808080;
}