.root {
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#userBtn{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}

#userBtn:hover {
	-fx-background-color: #808080;
}



#visitorInstructorBtn{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}



#visitorInstructorBtn:hover {
	-fx-background-color: #808080;
}