.root {
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#btn_visitor_report{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}


#btn_visitor_report:hover{
	-fx-background-color: #808080;
}


#btn_cancellation_report{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}


#btn_cancellation_report:hover{
	-fx-background-color: #808080;
}


#btn_show_report_data{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}


#btn_show_report_data:hover{
	-fx-background-color: #808080;
}


#generateBtn{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}


#generateBtn:hover{
	-fx-background-color: #808080;
}



#leftPane{
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#rightPane{
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#field_name{
	-fx-background-radius: 40px;
}

#field_park{
	-fx-background-radius: 40px;
}





