.root {
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}

Button{
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}

#cancelBtn{
	-fx-background-color: #ff453f;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}

Button:hover{
	-fx-background-color: #808080;
}

#leftPane{
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}


#rightPane{
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}

#nameField{
	-fx-background-radius: 40px;
}

#parkField{
	-fx-background-radius: 40px;
}