.root {
	-fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);


}







#viewBillBtn {
	-fx-background-color: #219a6a;
	-fx-background-radius: 40px;
	-fx-cursor:hand;
}


#viewBillBtn:hover {
	-fx-background-color: #808080;
}

